@font-face {
    font-family: pro;
    src: url(./sf-pro-text_regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
     height: 100%;
    width: 100%;
    background-color: rgb(162, 168, 174);
    padding: 40px;
    font-family:Pro;
    display: flex;
    gap:20px ;
    flex-wrap: wrap;
    
}
.card{
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 7px 12px 20px rgba(31, 30, 30, 0.313);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0; 
}
.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card h2{
    font-size: 30px;  
    margin-top: 5px;
}
.card p{
    font-size:16px;
    font-weight: 400;
    margin-top: 5px;
    
}
.card button{
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 8px;
    font-size: 16px;
    border: 2px solid black;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.card button:hover{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    color: rgb(235, 225, 225);
    font-weight: 600;
}
