*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn{
   padding: 10px 20px;
   background-color:darkblue;
   color: white;
   font-size: 25px;
   font-weight: 900;
   border: none;
   border-radius: 10px;
   z-index: 9;
}
h1{
    white-space: nowrap;
}