*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px;


}
#cart{
     width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(52, 49, 49);
    border-radius: 20px;
    padding: 20px;
}
.details{
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* gap: 35px; */
}
.details .names{
    display: flex;
    align-items: center;
    gap: 20px;
    /* justify-content: space-between; */
}
.details img{
    height: 60px;
       width: 60px;
       border-radius: 50%;
       object-fit: cover;
}
.details h3{
    font-size: 18px;
}
.details button{
     width: fit-content;
   border-radius: 5px;
   font-size: 18px;
    padding: 8px 28px;
    border: none;
    background-color: royalblue;
    color: white;
    font-weight: 500;
}

.details button:active{
    scale: 0.9;
}