*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
   
    border-radius: 20px;
    padding: 60px 30px;
    background-color:rgb(70, 10, 40);
   
   
}

 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
   
   
}
.buttons{
    margin-top: 30px;
    display: flex;
    gap: 15px;
}
.buttons button{
   
    padding: 8px 16px;
    border: none;
    font-size: 30px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
}

#inc{
    background-color: red;
}
#dec{
    background-color: blue;
}