*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: rgb(43, 57, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card{
     background-color: black;
    height: fit-content;
     width: 300px;
     padding: 30px;
     border-radius: 20px;
     color: white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}
.card div{
    position: relative;
    overflow: hidden;
}

.card img{
   border-radius: 20px;
   height: 280px;
   width: 100%;
   object-fit: cover;
   margin-bottom: 10px;
}
.card h2{
    font-size: 25px;
    text-align: center;
}
.card #love{
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url(https://img.freepik.com/premium-vector/vertical-background-with-smooth-gradient-vector-illustration_522680-306.jpg?semt=ais_se_enriched&w=740&q=80);
    background-clip: text;
    background-size: cover;
    color: transparent;
    opacity: 0;
    font-size: 70px;
    transform: translate(-50% , -50%) scale(0) rotate(-60deg);
    transition: all ease 0.3s;
}
.logo{
    margin-top: 15px;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.logo i{
    font-size: 30px;
    margin-top: 20px;
    color: white;
}

