*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    height: 90%;
    width: 70%;
    background-color: black;
    display: flex;
    flex-direction: column;
    
    padding: 40px;
    gap: 15px;
    border-radius: 20px;
    
}
#top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
#top, h1{
    color: white;
}

#caption-img{
    height: 200px;
    width: 160px;
    object-fit: cover;
    /* border: 2px solid white;  */
    border-radius: 10px;
    background-color: white;
    
}
#low{
    display: flex;
    color: white;
    justify-content: space-between;
    
    font-weight: 600;
}
#logo{
display: flex;
gap: 10px;
flex-direction: column;
width: fit-content;


}
#team-img{
     height: 180px;
    width: 200px;
    /* border-radius: 50%; */
    object-fit: cover;
    border-radius: 10px;
}
#trophy{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
#para{
    text-align: start;
    font-weight: bold;
}

#win , img{
    height: 200px;
    width: 180px;
    border-radius: 10px;
    background-color: white;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#bt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
     margin-top: 25px;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    background-color: crimson;
    color: white;
    font-weight: bold;
}
 

