*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
@mixin hover{
    filter: grayscale(100%);
}
@mixin hover-white {
  &:hover {
    filter: grayscale(0);
  }
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    section{
         height: 100%;
         width: 100%;
         padding: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-row: 1fr 0.3fr;
        grid-template-areas: "aside section section section"
                             "aside div-1 div-2 div-3";
        gap: 50px;
        


    aside{
        
        grid-area: aside;
        background-image: url(./images/565176831_17883684435390570_3485815049214758201_n.webp);
        background-position: center;
        background-size: cover;
        border-radius: 25px;
        // @include hover;
        // @include hover-white;
    }

    

    section{
        grid-area: section;
        background-image: url(./images/katana.webp);
        border-radius: 25px;
        background-size: cover;
        flex-grow: 1;
        background-position: center;
        // @include hover()
    
    }
    .div-1{
        grid-area: div-1;
        background-image: url(./images/fire.webp);
        border-radius: 25px;
        background-size: cover;
        background-position: center;
        // @include hover()
    }

    .div-2{
        grid-area: div-2;
        background-image: url(./images/dark.webp);
        border-radius: 25px;
        background-size: cover;
        background-position: center;
        // @include hover()
    }

    .div-3{
        grid-area: div-3;
       background-image: url(./images/naruto.webp);
       background-size: cover;
       background-position: center;
       border-radius: 25px;
    //    @include hover()
       
    }
    

    
}
}