@font-face {
  font-family: saans;
  src: url(./fonts/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2);
}
@font-face {
  font-family: roboto;
  src: url(./fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}
:root {
  --grad-red-blue-35: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
  --grad-liteyellow-blue: linear-gradient(35deg, #fcfce2 40%, #f5fbfe 90%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  padding: 0 1.5rem;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main header {
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10;
}
main header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main header img {
  width: 30%;
}
main header i {
  font-size: 1.5rem;
}
main section.section-1 {
  background: var(--grad-red-blue-35);
  padding: 5rem 0;
}
main section.section-1 .container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
main section.section-1 .container .left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}
main section.section-1 .container .left h1 {
  font-family: saans;
  font-size: 2.8rem;
  text-align: center;
  line-height: 1;
}
main section.section-1 .container .left img {
  width: 100%;
}
main section.section-1 .container .right h2 {
  font-size: 2.1rem;
  font-weight: 400;
  font-family: saans;
  text-align: center;
}
main section.section-2 {
  padding: 5rem 0;
}
main section.section-2 .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.section-2 .container .top,
main section.section-2 .container .mid,
main section.section-2 .container .lower {
  border-top: 4px solid rgba(169, 168, 168, 0.253);
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.section-2 .container .top h1,
main section.section-2 .container .mid h1,
main section.section-2 .container .lower h1 {
  font-family: saans;
  font-size: 1.4rem;
}
main section.section-2 .container .top p,
main section.section-2 .container .mid p,
main section.section-2 .container .lower p {
  font-family: roboto;
  font-size: 1.2rem;
}
main section.section-2 .container .top img,
main section.section-2 .container .mid img,
main section.section-2 .container .lower img {
  width: 100%;
}
main section.section-3 {
  padding: 5rem 0;
}
main section.section-3 .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main section.section-3 .container .left {
  width: 100%;
}
main section.section-3 .container .left img {
  width: 100%;
}
main section.section-3 .container .right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.section-3 .container .right h2 {
  font-family: saans;
  font-size: 1.2rem;
  opacity: 0.6;
}
main section.section-3 .container .right h1 {
  font-family: saans;
  font-size: 3rem;
}
main section.section-3 .container .right p {
  font-family: roboto;
  font-size: 1.2rem;
  opacity: 0.7;
}
main section.section-3 .container .right .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.section-3 .container .right .buttons button {
  width: -moz-fit-content;
  width: fit-content;
  font-family: saans;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 700;
}
main section.section-3 .container .right .buttons .bt-1 {
  color: #0468d7;
  border: 1px solid #0468d7;
}
main section.section-3 .container .right .buttons .bt-1:hover {
  background-color: #0468d7;
  color: white;
}
main section.section-3 .container .right .buttons .bt-2 {
  border: none;
  outline: none;
}
main section.section-4 {
  background: var(--grad-liteyellow-blue);
  padding: 5rem 0;
}
main section.section-4 .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main section.section-4 .container .left {
  width: 100%;
}
main section.section-4 .container .left img {
  width: 100%;
}
main section.section-4 .container .right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.section-4 .container .right h2 {
  font-family: saans;
  font-size: 1.2rem;
  opacity: 0.6;
}
main section.section-4 .container .right h1 {
  font-family: saans;
  font-size: 3rem;
}
main section.section-4 .container .right p {
  font-family: roboto;
  font-size: 1.2rem;
  opacity: 0.7;
}
main section.section-4 .container .right button {
  width: -moz-fit-content;
  width: fit-content;
  font-family: saans;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #0468d7;
  color: white;
  border: none;
}
main section.section-5 {
  padding: 5rem 0;
}
main section.section-5 .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main section.section-5 .container .left {
  width: 100%;
}
main section.section-5 .container .left img {
  width: 100%;
}
main section.section-5 .container .right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.section-5 .container .right h2 {
  font-family: saans;
  font-size: 1.2rem;
  opacity: 0.6;
}
main section.section-5 .container .right h1 {
  font-family: saans;
  font-size: 3rem;
}
main section.section-5 .container .right p {
  font-family: roboto;
  font-size: 1.2rem;
  opacity: 0.7;
}
main section.section-5 .container .right button {
  width: -moz-fit-content;
  width: fit-content;
  font-family: saans;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #0468d7;
  background-color: transparent;
  border: 1px solid #0468d7;
}
main section.section-5 .container .right button:hover {
  background-color: #0468d7;
  color: white;
}
main section.section-6 {
  background: var(--grad-liteyellow-blue);
  padding: 5rem 0;
}
main section.section-6 .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main section.section-6 .container .left {
  width: 100%;
}
main section.section-6 .container .left img {
  width: 100%;
}
main section.section-6 .container .right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.section-6 .container .right h2 {
  font-family: saans;
  font-size: 1.2rem;
  opacity: 0.6;
}
main section.section-6 .container .right h1 {
  font-family: saans;
  font-size: 2.8rem;
}
main section.section-6 .container .right p {
  font-family: roboto;
  font-size: 1.2rem;
  opacity: 0.7;
}
main section.section-6 .container .right button {
  width: -moz-fit-content;
  width: fit-content;
  font-family: saans;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  border: none;
  outline: none;
  background-color: #0468d7;
}
main section.section-7 {
  padding: 5rem 1.5rem;
}
main section.section-7 .container {
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 2rem;
  background-color: #042449;
  overflow: hidden;
  padding: 6rem 2rem;
}
main section.section-7 .container .content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: white;
  z-index: 9;
}
main section.section-7 .container .content .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.section-7 .container .content .text h3 {
  font-size: 3rem;
  font-family: saans;
}
main section.section-7 .container .content .text p {
  font-size: 1.3rem;
  font-family: roboto;
}
main section.section-7 .container .content .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.section-7 .container .content .buttons button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 400;
}
main section.section-7 .container .content .buttons button:nth-child(1) {
  color: #0468d7;
  background-color: white;
  border-radius: 5rem;
  border: none;
}
main section.section-7 .container .content .buttons button:nth-child(2) {
  background-color: transparent;
  color: white;
  border: none;
}
main section.section-7 .container img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
main footer {
  width: 100%;
  background-color: #f8f9fa;
  padding: 2.5rem 2rem;
}
main footer .container {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
main footer .container .top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main footer .container .top div img {
  width: 30%;
}
main footer .container .top .uls {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
main footer .container .top .uls ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: saans;
}
main footer .container .top .uls ul li:first-child {
  font-size: 1.1rem;
  font-weight: 800;
  opacity: 10;
}
main footer .container .top .uls ul li {
  list-style: none;
  opacity: 0.9;
}
main footer .container .bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main footer .container .bottom .icon {
  display: flex;
  padding: 2rem 0.5rem;
  gap: 1.2rem;
  border-bottom: 2px solid #d2cacd;
}
main footer .container .bottom .icon i {
  font-size: 1.1rem;
}
main footer .container .bottom .copy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  font-family: roboto;
  font-size: 0.8rem;
}
main footer .container .bottom .copy .privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 900px) {
  main header img {
    width: 8%;
  }
  main section.section-1 .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 8rem;
  }
  main section.section-1 .container .left {
    flex-direction: row-reverse;
    align-items: center;
  }
  main section.section-1 .container .left img,
  main section.section-1 .container .left h1 {
    width: 50%;
  }
  main section.section-1 .container .left h1 {
    font-size: 4rem;
    text-align: start;
    width: 40%;
  }
  main section.section-1 .container .right {
    padding: 0 10rem;
  }
  main section.section-1 .container .right h2 {
    font-size: 2.3rem;
  }
  main section.section-2 .container {
    flex-direction: row;
    padding: 0 8rem;
    gap: 2rem;
  }
  main section.section-3 .container {
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 8rem;
  }
  main section.section-3 .container .right,
  main section.section-3 .container .left {
    width: 50%;
  }
  main section.section-3 .container .right h1 {
    font-size: 4rem;
  }
  main section.section-3 .container .right p {
    width: 75%;
  }
  main section.section-3 .container .right .buttons {
    flex-direction: row;
  }
  main section.section-4 .container {
    flex-direction: row;
    align-items: center;
    padding: 0 8rem;
  }
  main section.section-4 .container .right,
  main section.section-4 .container .left {
    width: 50%;
  }
  main section.section-4 .container .right h1 {
    font-size: 4rem;
  }
  main section.section-4 .container .right p {
    width: 73%;
  }
  main section.section-5 .container {
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 8rem;
  }
  main section.section-5 .container .right,
  main section.section-5 .container .left {
    width: 50%;
  }
  main section.section-5 .container .right h1 {
    font-size: 4rem;
    width: 70%;
  }
  main section.section-5 .container .right p {
    width: 70%;
  }
  main section.section-6 .container {
    flex-direction: row;
    align-items: center;
    padding: 0 8rem;
  }
  main section.section-6 .container .right,
  main section.section-6 .container .left {
    width: 50%;
  }
  main section.section-6 .container .right h1 {
    font-size: 3.5rem;
    width: 75%;
  }
  main section.section-6 .container .right p {
    width: 70%;
  }
  main section.section-7 {
    padding: 5rem 8rem;
  }
  main section.section-7 .container {
    padding: 2.5rem 5rem;
  }
  main section.section-7 .container .content .buttons {
    flex-direction: row;
  }
  main section.section-7 .container img {
    width: 30%;
  }
  main footer {
    padding: 0 2.5rem;
  }
  main footer .container {
    padding: 4rem 0;
  }
  main footer .container .top {
    flex-direction: row;
    justify-content: space-between;
  }
  main footer .container .top div img {
    width: 80%;
  }
  main footer .container .top .uls {
    flex-direction: row;
    gap: 10rem;
  }
  main footer .container .bottom .copy {
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.7;
    align-items: start;
    font-size: 1rem;
  }
  main footer .container .bottom .copy p {
    width: 80%;
    text-align: start;
  }
}
@media (min-width: 2500px) {
  header .container {
    max-width: none;
  }
  header .container img {
    width: 4%;
  }
  .container {
    max-width: 1600px;
    margin: auto;
  }
  footer .container {
    max-width: none;
  }
}/*# sourceMappingURL=style.css.map */