*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
}
/* div{
    border-radius: 50%;
    padding: 20px;
    border: 1px solid red;
    width: fit-content;
} */