
@font-face {
  font-family: saans;
  src: url(./fonts/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2);
}

@font-face {
  font-family: roboto;
  src: url(./fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}


:root {
  --grad-red-blue-35: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
  --grad-liteyellow-blue: linear-gradient(35deg, #fcfce2 40%, #f5fbfe 90%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}


.container {
  width: 100%;
//   margin: 0 auto;
  padding: 0 1.5rem;
}


main {
  height: 100%;
  width: 100%;
  @include flex-column(0.5rem);


 
  header {
    width: 100%;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    img {
      width: 25%;
    }

    i {
      font-size: 1.5rem;
    }
  }

 
  section.section-1 {
    background: var(--grad-red-blue-35);
    padding: 5rem 0;

    .container {
      @include flex-column(6rem);

      .left {
        @include flex-column(4rem);
        width: 100%;

        h1 {
          font-family: saans;
          font-size: 2.8rem;
          text-align: center;
          line-height: 1;
        }

        img {
          width: 100%;
        }
      }

      .right {
        h2 {
          font-size: 2.1rem;
          font-weight: 400;
          font-family: saans;
          text-align: center;
        }
      }
    }
  }

  
  section.section-2 {
    padding: 5rem 0;

    .container {
      @include flex-column(2rem);

      .top,
      .mid,
      .lower {
        border-top: 4px solid rgba(169, 168, 168, 0.253);
        width: 100%;
        padding: 1.5rem 0;
        @include flex-column(2rem);

        h1 {
          font-family: saans;
          font-size: 1.4rem;
        }
        p {
          font-family: roboto;
          font-size: 1.2rem;
        }
        img {
          width: 100%;
        }
      }
    }
  }

  
  section.section-3 {
    padding: 5rem 0;

    .container {
      @include flex-column(4rem);

      .left {
        width: 100%;
        img {
          width: 100%;
        }
      }

      .right {
        @include flex-column(1.5rem);

        h2 {
          font-family: saans;
          font-size: 1.2rem;
          opacity: 0.6;
        }

        h1 {
          font-family: saans;
          font-size: 3rem;
        }

        p {
          font-family: roboto;
          font-size: 1.2rem;
          opacity: 0.7;
        }

        .buttons {
          @include flex-column(1rem);

          button {
            width: fit-content;
            font-family: saans;
            background-color: transparent;
            padding: 1rem 2rem;
            border-radius: 5rem;
            font-size: 1rem;
            font-weight: 700;
          }

          .bt-1 {
            color: #0468d7;
            border: 1px solid #0468d7;

            &:hover {
              background-color: #0468d7;
              color: white;
            }
          }

          .bt-2 {
            border: none;
            outline: none;
          }
        }
      }
    }
  }


  section.section-4 {
    background: var(--grad-liteyellow-blue);
    padding: 5rem 0;

    .container {
      @include flex-column(4rem);

      .left {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .right {
        @include flex-column(1.5rem);

        h2 {
          font-family: saans;
          font-size: 1.2rem;
          opacity: 0.6;
        }

        h1 {
          font-family: saans;
          font-size: 3rem;
        }

        p {
          font-family: roboto;
          font-size: 1.2rem;
          opacity: 0.7;
        }

        button {
          width: fit-content;
          font-family: saans;
          padding: 1rem 2rem;
          border-radius: 5rem;
          font-size: 1rem;
          font-weight: 700;
          background-color: #0468d7;
          color: white;
          border: none;
        }
      }
    }
  }

 
  section.section-5 {
    padding: 5rem 0;

    .container {
      @include flex-column(4rem);

      .left {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .right {
        @include flex-column(1.5rem);

        h2 {
          font-family: saans;
          font-size: 1.2rem;
          opacity: 0.6;
        }

        h1 {
          font-family: saans;
          font-size: 3rem;
        }

        p {
          font-family: roboto;
          font-size: 1.2rem;
          opacity: 0.7;
        }

        button {
          width: fit-content;
          font-family: saans;
          padding: 1rem 2rem;
          border-radius: 5rem;
          font-size: 1rem;
          font-weight: 700;
          color: #0468d7;
          background-color: transparent;
          border: 1px solid #0468d7;
        }

        button:hover{
            background-color: #0468d7;
            color: white;
        }
      }
    }
  }


  section.section-6 {
    background: var(--grad-liteyellow-blue);
    padding: 5rem 0;

    .container {
      @include flex-column(4rem);

      .left {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .right {
        @include flex-column(1.5rem);

        h2 {
          font-family: saans;
          font-size: 1.2rem;
          opacity: 0.6;
        }

        h1 {
          font-family: saans;
          font-size: 2.8rem;
        }

        p {
          font-family: roboto;
          font-size: 1.2rem;
          opacity: 0.7;
        }

        button {
          width: fit-content;
          font-family: saans;
          padding: 1rem 2rem;
          border-radius: 5rem;
          font-size: 1rem;
          font-weight: 700;
          color: white;
          border: none;
          outline: none;
          background-color: #0468d7;
         
        }

        
      }
    }
  }

  section.section-7 {
    padding: 5rem 1.5rem;

    .container{
       
        @include flex-column(2.5rem);
        background: linear-gradient(135deg, #001f48 60%, #0057d8 60%);
        border-radius: 2rem;
        
        
        padding: 6rem 2rem;
        color: white;

        .text{
            @include flex-column(1.5rem);
            h3{
                font-size: 3rem;
                font-family: saans;
            }

            p{
                font-size: 1.3rem;
                font-family: roboto;
            }
        }

        .buttons{
            @include flex-column(1rem);
            
            button{
                width: fit-content;
                padding: 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 400;
            }

           
        }
         .buttons button:nth-child(1){
                color: #0468d7;
                background-color: white;
                border-radius: 5rem;
                border: none;
            }

            .buttons button:nth-child(2){
                
                background-color:transparent;
                color: white;
                border: none;
            }

    }
  }
    
}


@media (min-width: 900px) {
  main {
    header img {
      width: 8%;
    }

    section.section-1 {
      .container {
        @include flex-column(4rem);
        padding: 0 8rem;

        .left {
          flex-direction: row-reverse;
          align-items: center;

          img,
          h1 {
            width: 50%;
          }

          h1 {
            font-size: 4rem;
            text-align: start;
            width: 40%;
          }
        }

        .right {
          padding: 0 10rem;

          h2 {
            font-size: 2.3rem;
          }
        }
      }
    }

    section.section-2 .container {
      flex-direction: row;
      padding: 0 8rem;
      gap: 2rem;
    }

    section.section-3 .container {
      flex-direction: row-reverse;
      align-items: center;
      padding: 0 8rem;

      .right,
      .left {
        width: 50%;
      }

      .right {
        h1 {
          font-size: 4rem;
        }

        p {
          width: 75%;
        }

        .buttons {
          flex-direction: row;
        }
      }
    }

    section.section-4 .container {
      flex-direction: row;
      align-items: center;
      padding: 0 8rem;

      .right,
      .left {
        width: 50%;
      }

      .right {
        h1 {
          font-size: 4rem;
        }

        p {
          width: 73%;
        }
      }
    }

    section.section-5 .container {
      flex-direction: row-reverse;
      align-items: center;
      padding: 0 8rem;

      .right,
      .left {
        width: 50%;
      }

      .right {
        h1 {
          font-size: 4rem;
          width: 70%;
        }

        p {
          width: 70%;
        }
      }
    }

    section.section-6 .container {
      flex-direction: row;
      align-items: center;
      padding: 0 8rem;

      .right,
      .left {
        width: 50%;
      }

      .right {
        h1 {
          font-size: 3.5rem;
          width: 75%;
        }

        p {
          width: 70%;
        }
      }
    }

    
  }
}


@media (min-width: 2500px) {

    header .container{
        max-width: none;
       
        img{
            width: 4%;
        }
    }
  .container {
    
    max-width: 1600px;
    margin: auto;
       
   
  }
}
