* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
section {
  height: 100%;
  width: 100%;
  background-color: rgb(85, 84, 84);
  display: flex;
  align-items: center;
  justify-content: center;
}

.piano {

  height: 260px;
  width: 80%;
}

.uls {
  height: 100%;
  width: 100%;
  display: flex;
}
.uls .key {
  height: 100%;
  width: 100%;
  list-style: none;
}

.key .white-key {
   
  height: 100%;
  display: flex;
  font-size: 20px;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid rgba(47, 44, 44, 0.436);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0 0 10px 10px;
  background-color: white;
  cursor: pointer;
  box-shadow:  2px 5px 1px rgba(153, 147, 147, 0.708);
}

.key .white-key:active {
   
    background-color: rgb(210, 200, 200);
}







.piano{
  position: relative;
}
.black-keys{
  position: absolute;
  top: 0;
  left: 0;
   height:60%;
  width: 100%;
  pointer-events: none;
  z-index: 10;
  
}
.black-keys .uls-1{
  position: absolute;
   top: 0;
   left: 0;
   
   width: 100%;
   height: 100%;
}
.uls-1 .black{
  list-style: none;
  position: absolute;
  height: 100%;
  width: calc((100%/21) * 0.6);
  pointer-events: auto;
  
 
}
.key .black-key{
  
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 5px 1px rgb(70, 66, 66);
}

.black-key:active {
  background-color: rgb(56, 54, 54);
  
}


.key.active{
  scale: 0.9;
  transition: all ease 0.2s;
}

.uls-1 .black:nth-child(1){
  left: calc((100%/21) * 1 - ((100% / 21)*0.6/2));
}

.uls-1 .black:nth-child(2){
  left: calc((100%/21) * 2 - ((100% / 21)*0.6/2));
}

.uls-1 .black:nth-child(3){
  left: calc((100%/21) * 4 - ((100% / 21)*0.6/2));
}
.uls-1 .black:nth-child(4){
  left: calc((100%/21) * 5 - ((100% / 21)*0.6/2));
}
.uls-1 .black:nth-child(5){
  left: calc((100%/21) * 6 - ((100% / 21)*0.6/2));
}
.uls-1 .black:nth-child(6){
  left: calc((100%/21) * 8 - ((100% / 21)*0.6/2));
}

.uls-1 .black:nth-child(7){
  left: calc((100%/21) * 9 - ((100% / 21)*0.6/2));
}
.uls-1 .black:nth-child(8){
  left: calc((100%/21) * 11 - ((100% / 21)*0.6/2));
}
.uls-1 .black:nth-child(9){
  left: calc((100%/21) * 12 - ((100% / 21)*0.6/2));
}
.uls-1 .black:nth-child(10){
  left: calc((100%/21) * 13 - ((100% / 21)*0.6/2));
}
.uls-1 .black:nth-child(11){
  left: calc((100%/21) * 15 - ((100% / 21)*0.6/2));
}
.uls-1 .black:nth-child(12){
  left: calc((100%/21) * 16 - ((100% / 21)*0.6/2));
}
.uls-1 .black:nth-child(13){
  left: calc((100%/21) * 18 - ((100% / 21)*0.6/2));
}
.uls-1 .black:nth-child(14){
  left: calc((100%/21) * 19 - ((100% / 21)*0.6/2));
}
.uls-1 .black:nth-child(15){
  left: calc((100%/21) * 20 - ((100% / 21)*0.6/2));
}


