*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  gap: 40px;
  
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  height: 350px;
  width: 280px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  align-items: center;
  justify-content: center;
} 

.card .bottom{
  padding: 15px;
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  color: white;
  bottom: 0;
}

.card .bottom h3{
  
  font-size: 25px;
  font-weight: 600;

}

.card .bottom h4{
  
  font-size: 16px;
  font-weight: 400;

}

.card .bottom p{

  
  background-color: rgba(12, 12, 12, 0.785);
  padding: 8px  10px;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 6px;

}

.card .bottom p i{
  font-size: 20px;
  font-weight: 900;
  
}



